// !!! THIS FILE SHOULD GET @import'ed INTO ALL STANDALONE CSS (SASS) FILES !!!
//
// no CSS should be output here. just functions and varibles, please.

// import SASS extensions
@import "compass";
@import "breakpoint";
@import "susy";
@import "modularscale";


$fontstack-brandon: 'brandon-grotesque', sans-serif;
$fontstack-clarendon: 'clarendon-urw', sans-serif;
$fontstack-ffmore: 'ff-more-web-pro', georgia, 'times new roman', serif;

$font-body: $fontstack-ffmore;
$font-headings: $fontstack-clarendon;

$char-bullet: '•';
$char-middot: '·';


// configure modular scale
// FIXME: 1em feels a lttle too big
$ms-base: 1em;
$ms-ratio: $augmented-fourth;


// configure main susy grid
$susy: (
  flow: ltr,
  math: fluid,
  output: float,

  container: 48rem,
  container-position: center,
  columns: 12,
  column-width: false,
  gutters: 1/4,
  gutter-position: split,

  global-box-sizing: content-box,
  last-flow: to,

//  debug: (
//    image: show-columns,
//    color: rgba(#66f, .1),
//    output: background,
//    toggle: top right,
//  ),

  use-custom: (
    rem: true,
  )

);
