@mixin left-border() {
  margin-left: 2em;
  border-left: 4px solid $color-left-border;
  padding-left: 1em;
}

@mixin separator-padding($padding: 0.25em) {
  padding-left: $padding;
  padding-right: $padding;
}

@mixin list-dots($separator: $char-bullet) {
  &:after {
    @include separator-padding();
    content: (' ' + $separator + ' ');

    @if ($separator == $char-bullet) {
      font-size: 0.75em;
      font-style: normal;
      vertical-align: middle;
    }
  }

  &:last-child:after {
    content: none;
  }
}

@mixin reset-list-items() {
  li::before {
    content: none;
    margin-right: 0;
  }

  li {
    list-style-type: inherit;
    text-indent: 0;
    padding-left: 0;
  }
}

@mixin inline-list($separator: $char-bullet) {
  @include reset-list-items();

  padding-left: 0;

  li {
    @include list-dots($separator);

    display: inline;
  }
}

@mixin collapsed-list() {
  @include reset-list-items();
  padding-left: 0;

  li {
    display: inline;
  }
}
