// import global config
@import 'config';

// FIXME
$resume-link-color: #3256c3;

// ----

a {
  color: $resume-link-color;
}

body.resume {
  @include breakpoint(40rem) {
    font-size: 1em;
  };
}


// stylize personal descriptions
h1 + ul > li {
  font-style: italic;
}

h2 {
  border-bottom: 1px solid black;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

.commentary {
  font-style: italic;
}

section#about-me h2 {
  // due to p.chat-bubble preceding this
  margin-top: 0;
}

.chat-bubble {
  border: 0.15rem solid gray;
  border-radius: 1rem;
  padding: 0.75rem 1rem;
  position: relative;
  display: inline-block;
  margin-bottom: 6rem;

  &:before {
    content: '';
    position: absolute;
    display: block;
    bottom: -2rem;
    left: 4rem;
    width: 0;
    height: 0;
    border: 1rem solid;
    border-color: gray transparent transparent gray;
  }

  &:after {
    content: '';
    position: absolute;
    display: block;
    bottom: -1.66rem;
    left: 4.15rem;
    width: 0;
    height: 0;
    border: .9rem solid;
    border-color: white transparent transparent white;
  }

  a {
    white-space: nowrap;
  }

  i.avatar {
    position: absolute;
    width: 3rem;
    height: 3rem;
    bottom: -4rem;
    left: 0;
    background-image: url('//en.gravatar.com/userimage/22662030/7824231835a7dd02086e4d72750dbe59.png?size=200');
    background-size: cover;
    border-radius: 0.5rem;
  }
}



@mixin left-border() {
  margin-left: 2em;
  border-left: 4px solid #ddd;
  padding-left: 1em;
}



// hide my notes
section li ul {
  display: none;
}

@mixin separator-padding($padding: 0.25em) {
  padding-left: $padding;
  padding-right: $padding;
}

@mixin list-dots($separator: ' · ') {
  &:after {
    @include separator-padding();
    content: ' · ';
  }

  &:last-child:after {
    content: none;
  }
}

@mixin inline-list($separator: ' · ') {
  padding-left: 0;

  li {
    @include list-dots();

    display: inline;
  }
}

@mixin collapsed-list() {
  padding-left: 0;

  li {
    display: inline;
  }
}

span.middot {
  @include separator-padding();
}

ul.inline {
  @include inline-list;
}


section#about-me {
  section {
    // margin-left: 2em;

    // sections become the P since we're displaying children inline.
    margin-bottom: 1em;

    h3 {
      // display: none;
      margin-top: 0;
      font-size: 1em;
      display: inline;
      font-family: $font-serif;

      &::after {
        content: ': ';
      }
    }

    p:first-of-type {
      display: inline;
    }

    > ul {
      @include collapsed-list();
      @include left-border();

      // display: inline;
      margin-top: 1em;
    }

  }

}


section#values,
section#personal-interests {
  ul {
    @include inline-list();
  }
}

section {
  p.chat-bubble {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }
}

section#personal-projects {
  h3 a {
    &::after {
      content: attr(href);
      font-size: ms(-1);
      display: block;
      // margin-left: 1em;
      text-transform: none;
    }
  }
}

section#community-contributions {
  // not entirely robust
  ul:first-of-type li a:nth-child(1) {
    font-weight: bold;
  }
}


section#bucket-list {
  del {
    color: gray;
  }
}


div.tabs {
  @include container();
}
