// directly from typekit, with some whitespace/formatting changes and one minor
// patch noted below.
// ----
javascript:
  (function(d) {
    var config = {
        kitId: 'wvd5idt',
        scriptTimeout: 3000
      },
      h=d.documentElement,
      t=setTimeout(function(){
        h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";

        // PATCH: added console log here to see if/when fonts fail to load.
        // might be nice to pass in a callback here, too. -JSB
        console.log("failed to load fonts");

      },config.scriptTimeout),
      tk=d.createElement("script"),
      f=false,
      s=d.getElementsByTagName("script")[0],
      a;

    h.className+=" wf-loading";
    tk.src='//use.typekit.net/'+config.kitId+'.js';
    tk.async=true;

    tk.onload=tk.onreadystatechange=function(){
      a=this.readyState;
      if(f||a&&a!="complete"&&a!="loaded")return;
      f=true;
      clearTimeout(t);
      try{Typekit.load(config)}catch(e){}
    };

    s.parentNode.insertBefore(tk,s)
  })(document);
