h1. Justin Blecher

a href="mailto:justin@worksperfectly.net" justin@worksperfectly.net

p
  | Creative Engineer
  span.middot<> &middot;
  |  Champion of Form &amp; Function

p.commentary After years of gaining experience across myriad projects, platforms, and languages, I'm looking to get back to hacking by cozying up and focusing my energy on building a product that people love.

div.tabs

  section#highlights
    h2 Highlights

    p.commentary TL;DR

    markdown:
      * 20+ years broad and deep experience on the interwebs
        * (slinging bits before http was popular)
      * Diverse yet connected interests
        * network protocols up through user experience
        * everything is relevant!
      * Sound technical strategy
        * ()
      * Resourceful technical lead and patient mentor
        * (code review)
      * Translator of requirements and limitations
        * ability to articulate and negotiate each side of the equation
      * Creative problem solver with a pragmatic bent
        * (inventor/codifier of processes)
        * (work with what we've got)
      * Critical thinker and methodical troubleshooter
        * (one cannot build or fix what they don't understand)
      * Stalwart steward of design and user experience
        * (focus on front-end)
      * Easily adapts to new systems, platforms, frameworks, languages, methodologies, etc.
        * (new day, new code)
        * OO, functional, procedural
      * Master sleeve-roller-upper
        * (gotta get dirty)
        * (gets shit done)


  section#technical-specialites
    h2 Technical Specialties

    p.commentary The bits that matter.

    markdown:
      * All things front-end: markup, style, and scripting
        * been there, done that. nothing much surprises me anymore. just variations on a theme
        * ex: building sites
      * Troubleshooting, debugging, and triaging
        * fixing things is super satisfying
        * filling in details of vague bug reports to gain insight is satisfying
        * ex: choice db import, understood tix
      * Performance analysis and tuning
        * similar to troubleshooting; very satisfying
        * ex: understood carousels
      * Research and documentation
        * i love to read and learn
        * producing clear and unambiguous documentation is satisfying
        * ex:
      * Automation (shell scripting, testing, etc.)
        * unix is my copilot
        * increasing productivity (using computers for repetitive tasks) is satisfying
        * ex:
      * Accessibility auditing
        * ...
        * ex: understood


section#values

  h2 Values

  p.commentary What sets me apart; what I try to demonstrate to teammates.

  markdown:
    * Technical Rigor
      * (engineering)
    * Aesthetics
      * (form is as important as function)
    * Accountability
      * (tickets FTW)
    * Transparency
      * (show your work)
    * Cogency
      * (watertight pitches)
    * Empathy
      * (help out fellow devs)


section#experience
  h2 Experience

  p.commentary I've dedicated a sizable portion of my professional career to Digital Pulp, where I've evolved from developer to mentor to leader. Typical of a nimble agency, I wore many hats: manager, mentor, project lead, network tech, etc.

  div.job
    h3 Digital Pulp

    h4 Director of Creative Engineering  (née Web Development Manager), 2008 - Present

    markdown:
      * Managed 8-12 person technology department (hiring, mentoring, review, etc.)
      * Led numerous technology projects (often overlapping) and juggled shifting cross-client priorities
      * Provided technical strategy and guidance to producers and partners
      * Defined processes to alleviate technology/production/communication issues
      * Contributed to and participated in new business pitches
      * Adapted internal processes to accommodate responsive design and agile development methodologies
      * Estimated effort, complexity, and risk of projects; Strategized and planned technical implementation
      * Supported producers and developers with technical writing and documentation
      * Planned and executed major multi-team site launches
      * Managed and delivered code releases
      * Ensured quality of deliverables (performed code review, managed QA team, etc.)
      * Produced developer documentation for style guides, standards, and anti-patterns
      * Developed initial prototypes and proof-of-concept code for front- and back-end projects.
      * Built and managed technology and development infrastructure (blend of custom & SaaS/PaaS)
      * Spearheaded move to modern developer tools/workflow (Git, JIRA, Heroku, Middleman, Grunt, etc.)
      * Provided support for legacy projects/systems
      * Gardened wikis and evangelized their use

    p Primary Technologies: Git, Shell Scripting, JavaScript, Ruby, Vagrant


  div.job
    h3 Digital Pulp

    h4 Lead Front-end Developer, 2006 - 2008

    markdown:
      * Led and managed team of front-end developers; Mentored junior team members
      * Developed a set of internal code libraries for reuse
      * Contributed to development and extension of a custom CMS based on Radiant (Rails); Built and deployed numerous projects based on Radiant.
      * Built front-ends for a variety of projects/sites
      * Consulted with designers and producers to refine the UX
      * etc.

    p.primary-tech Primary Technologies: Ruby (Rails 1.x, 2.x), JavaScript (Prototype.js)


  div.job
    h3 Avenue A / Razorfish (onsite at Condé Nast)

    h4 Developer, March 2006 - June 2006

    markdown:
      * Spearheaded effort to modernize legacy MagNet JS (DRY, reduce global namespace pollution, dependency management, etc.)
      * Contributed to various integration projects (contests, games, etc.)

    p.primary-tech Primary Technologies: JavaScript, Rational Clear Case


  div.job
    h3 Gawker Media

    h4 Senior UI Developer, July 2005 - March 2006

    markdown:
      * Prototyped and built initial iteration of Gawker Stalker via the Google Maps API
      * Prototyped and built the UI and front-end for Kinja, a 'weblog search engine' (Note: The name "Kinja" has since been re-used for another, unrelated project.)
      * Managed external front-end developers

    p.primary-tech Primary technologies used: JavaScript, Velocity (via Struts), MovableType, PHP, Perl


  div.job
    h3 MTV

    h4 Page Developer, November 2004 - July 2005

    markdown:
      * Worked as part of a large team building the MTV Digital Music Service (DMS)
      * Completely re-architected the JavaScript framework that drives the front-end of the DMS
      * Conceived and implemented a JS-based reporting framework for non-page-load events, called SPERF (Synthetic Page and Event Reporting Framework); callable from JS or Flash
      * Worked on MTV Overdrive implementing advertising logic and plugin interaction in JS
      * Consulted to other internal teams advocating best-practices for front-end projects

    p.primary-tech Primary technologies used: JavaScript, ATG Dynamo, TeamSite, WindowsMedia Plugin API


  div.job
    h3 Digital Pulp

    h4 Design Engineer, September 1997 - November 2004

    markdown:
      * Coded the front-ends of 80+ web sites produced by Digital Pulp; Developed & managed coding guidelines for the HTML production department
      * Spearheaded the campaign to educate clients on the importance of accessibility and standards in front-end code
      * Detailed front-end interface feature sets and functionality for sites
      * Worked with 3rd party and internal developers to integrate and then QA front-end code for large-scale e-commerce and content sites; Co-developed a CMS product with developers

    p.primary-tech Primary technologies used: HTML/CSS/JS, PHP, Perl, Python/Zope, various custom CMS implementations


section#personal-projects
  h2 Personal Projects

  h3 RegreCSS
  a href="http://regrecss.io/" http://regrecss.io/
  p CSS regression testing tool. (alpha / POC stage)

  h3 MisterRoboto
  a href="http://github.com/blech75/mister-roboto" http://github.com/blech75/mister-roboto
  p QA dashboard and reporting framework. (conceptual / planning stage)


section#technical-bucket-list
  h2 Technical Bucket List

  markdown:
    * R / Julia
    * ???


section#education
  h2 Education

  p
    strong BSME in Acoustical Engineering
    | , University of Hartford, West Hartford, CT (1993-1997)

  p.commentary Entering my junior year, I switched my focus from Music to Computer Science. My advisor told me I was not the first to change course like that.


section#personal-interests
  h2 Personal Interests

  markdown:
    * cooking
    * music
    * typography
    * open source software
    * architecture
    * cartography
    * data visualization


section#dont-get-me-started

  h2 Don't Get Me Started&hellip;

  markdown:
    * naming things
    * semantics
    * commit messages
    * character encodings
    * documentation


section#references
  h2 References

  p Professional and personal references are available upon request.
