section#intro
  h1
    i.avatar
    ' Justin Blecher

  ul.inline
    li Creative Engineer
    li Principled Developer
    li Champion of Form & Function

  ul.inline
    li
      a href="mailto:justin@worksperfectly.net" justin@worksperfectly.net
    li
      a href="tel:+16463442202" +1 (646) 344-2202
    li
      a href="https://twitter.com/wrksprfct" target="_blank" @wrksprfct

  p.print-only
    a href="http://justin.blecher.me/resume" http://justin.blecher.me/resume


section#about-me
  h2 About Me

  markdown:
    After years of gaining experience across myriad client projects, platforms,
    and languages, I'm looking to refocus my passion on **building products that
    people love**.

    In assembling my résumé and thinking critically about my career thus
    far, my **personal mission** began to crystallize:

    * *Help people* via technology.
    * *Create value* by bridging disparate worlds.
    * *Dive deep* to understand thoroughly.

    In reviewing my approach to the work I've done, some recurring key
    **values** emerged:

    * Technical Rigor
    * Aesthetics
    * Accountability
    * Transparency
    * Cogency
    * Empathy

    My mission and values inform and shape the **professional goals** which
    I strive to achieve:

    * Improve product quality.
    * Increase team efficiency.
    * Reduce technical debt.
    * Share knowledge.

    Though all of that may seem a bit abstract, it helps to guide me and
    provide a framework to measure my personal success and satisfaction. I hope
    it gives you a sense of what I'm all about!


section#highlights
  h2 Highlights (TL;DR)

  markdown:
    * 20+ years broad and deep experience on the interwebs
    * Diverse yet connected interests
    * Critical thinker and methodical troubleshooter
    * Resourceful technical lead and patient mentor
    * Creative and multi-dimensional problem solver with a pragmatic bent
    * Sound technical strategy
    * Stalwart steward of design and user experience
    * Easily and eagerly adaptable (new systems, platforms, frameworks, languages, methodologies, etc.)
    * Master sleeve-roller-upper


section#technical-specialites
  h2 Technical Specialties

  / p.commentary
  /   ' No acronyms or specifics here; frameworks and tools have a short half-life.

  markdown:
    * All things front-end: markup, style, and scripting
    * Troubleshooting, debugging, and triaging
    * Research and documentation, both client- and developer-facing
    * Deployment, task automation, and build tooling
    * Performance analysis and tuning
    * Accessibility auditing & QA
    * Systems architecture
    * Task estimation


section#experience
  h2 Experience

  div.chat-bubble-wrapper
    i.avatar
    p.chat-bubble
      ' I've dedicated a sizable portion of my professional career to Digital
      ' Pulp, where I've evolved from developer to mentor to leader. Typical of
      ' a nimble agency, I wore many hats, improvised, and filled gaps as
      ' necessary.

  nav#jobs-nav
    / nav inserted via JS

  div#jobs

    div.job data-date-start="2008-01-01" data-date-end="2015-11-01"
      h3
        span.title Director of Creative Engineering
        '  at
        span.company
          a href="http://www.digitalpulp.com/" Digital Pulp
        ' ,
        span.period 2008 - Present

      p.commentary
        ' The title of my role changed from <em>Web Development Manager</em> as
        ' the company and my responsibilities grew.

      markdown:
        * Managed 8-12 person technology department (hiring, mentoring, review,
          etc.)
        * Led numerous technology projects (often overlapping) and juggled
          shifting cross-client priorities
        * Provided technical strategy and guidance to producers and partners
        * Defined processes to alleviate technology/production/communication
          issues
        * Contributed to and participated in new business pitches
        * Adapted internal processes to accommodate responsive design (RWD) and
          agile development methodologies
        * Estimated effort, complexity, and risk of projects
        * Decomposed complex functionality into vertical slices
        * Strategized technical implementation
        * Supported producers and developers with technical writing and
          documentation
        * Planned and executed major multi-team site launches
        * Managed and delivered code releases
        * Acted as subject matter expert for accessibility, analytics, etc.
        * Ensured quality of deliverables (performed code review, managed QA
          team, etc.)
        * Produced developer documentation for style guides, standards, and
          anti-patterns
        * Developed initial prototypes and proof-of-concept code
        * Built and managed technology & development infrastructure (blend of
          custom & SaaS/PaaS)
        * Spearheaded move to modern developer tools/workflow (Git, JIRA,
          Heroku, Node, Grunt, Middleman, etc.)
        * Provided support for legacy projects/systems
        * Gardened wikis and evangelized their use

      p.primary-tech
        ' <em>Primary Technologies</em>: JavaScript (<a href="https://nodejs.org">Node.js</a>,
        ' <a href="https://angularjs.org">AngularJS</a>), Bash, Git, CSS/Sass,
        ' Ruby, Vagrant, Docker, etc.


    div.job data-date-start="2006-07-01" data-date-end="2007-12-31"
      h3
        span.title Lead Front-end Developer
        '  at
        span.company
          a href="http://www.digitalpulp.com/" Digital Pulp
        ' ,
        span.period 2006 - 2008

      markdown:
        * Led and managed team of front-end developers; Mentored junior team
          members
        * Developed a set of internal code libraries for reuse
        * Contributed to development and extension of a custom CMS based on
          [Radiant](http://radiantcms.org), a Rails app
        * Built and deployed numerous projects based on Radiant
        * Built front-ends for a variety of projects/sites
        * Consulted with designers and producers to refine the UX

      p.primary-tech
        ' <em>Primary Technologies</em>: Ruby (<a href="http://rubyonrails.org">Rails</a>
        ' 1.x, 2.x), JavaScript (<a href="http://prototypejs.org">Prototype.js</a>)


    div.job data-date-start="2006-03-16" data-date-end="2006-06-30"
      h3
        span.title Developer
        '  at
        span.company
          a href="http://www.razorfish.com/" Avenue A / Razorfish
        ' ,
        / span.period March 2006 - June 2006
        span.period 2006

      p.commentary
        ' This job was onsite at <a href="http://www.condenast.com">Condé
        ' Nast</a>, Razorfish's client.

      markdown:
        * Spearheaded effort to modernize Condé Nast's legacy MagNet JS library
          via DRY principles, reduction of global namespace footprint,
          introduction of dependency management, etc.
        * Contributed to various integration projects (contests, games, etc.)

      p.primary-tech
        ' <em>Primary Technologies</em>: JavaScript,
        ' <a href="http://www-03.ibm.com/software/products/en/clearcase">Rational ClearCase</a>,
        ' <a href="http://www.hpengage.com/products/teamsite">Interwoven TeamSite</a>


    div.job data-date-start="2005-07-16" data-date-end="2006-03-15"
      h3
        span.title Senior UI Developer
        '  at
        span.company
          a href="http://advertising.gawker.com/" Gawker Media
        ' ,
        / span.period July 2005 - March 2006
        span.period 2005 - 2006

      markdown:
        * Prototyped and built initial iteration of
          [Gawker Stalker](http://gawker.com/160338/introducing-gawker-stalker-maps)
          via the Google Maps API
        * Prototyped and built the UI and front-end for Kinja, a 'weblog search
          engine' (Note that the name "Kinja" has since been re-used for
          [another, unrelated project](http://help.gawker.com/customer/en/portal/articles/2137882-what-is-kinja-).)
        * Managed external front-end developers

      p.primary-tech
        ' <em>Primary Technologies</em>: JavaScript,
        ' <a href="https://velocity.apache.org">Velocity</a> (via
        ' <a href="https://struts.apache.org">Struts</a>),
        ' <a href="https://movabletype.com">Movable Type</a>, PHP, Perl


    div.job data-date-start="2004-11-01" data-date-end="2005-07-15"
      h3
        span.title Page Developer
        '  at
        span.company
          a href="http://www.mtv.com/" MTV (Viacom)
        ' ,
        / span.period November 2004 - July 2005
        span.period 2004 - 2005

      markdown:
        * Worked as part of a large team building
          [Urge](https://en.wikipedia.org/wiki/URGE_(digital_music_service)),
          the MTV Digital Music Service (DMS)
        * Completely re-architected the JavaScript framework that drives the
          front-end of the DMS
        * Conceived and implemented SPERF (Synthetic Page and Event
          Reporting Framework), a JS-based analytics and reporting framework for
          callable from JS or Flash
        * Worked on [MTV Overdrive](https://en.wikipedia.org/wiki/MTV#Internet)
          implementing advertising logic and plugin interaction in JS
        * Consulted to other internal teams advocating best-practices for
          front-end projects

      p.primary-tech
        ' <em>Primary Technologies</em>: JavaScript, WindowsMedia Plugin API


    div.job data-date-start="1997-09-01" data-date-end="2004-10-31"
      h3
        span.title Design Engineer
        '  at
        span.company
          a href="http://www.digitalpulp.com/" Digital Pulp
        ' ,
        / span.period September 1997 - November 2004
        span.period 1997 - 2004

      markdown:
        * Coded the front-ends of 80+ web sites produced by Digital Pulp
        * Developed & managed coding guidelines for the front-end team
        * Spearheaded the campaign to educate clients on the importance of
          accessibility and standards in front-end code
        * Detailed front-end interface feature sets and functionality for sites
        * Worked with 3rd party and internal developers to integrate and then
          QA front-end code for large-scale e-commerce and content sites
        * Integrated front-end templates into various CMSes
        * Customized various CMSes to meet client needs.

      p.primary-tech
        ' <em>Primary Technologies</em>: HTML/CSS/JS, PHP, Perl,
        ' Python/<a href="http://www.zope.org">Zope</a>, various custom CMS
        ' implementations.


section#community-contributions
  h2 Community Contributions

  div.chat-bubble-wrapper
    i.avatar
    p.chat-bubble
      ' I truly enjoy contributing to the developer community. It's rewarding to
      ' build and refine tools that are used by my peers. I don't get to
      ' contribute as much as I'd like nowadays (chalk it up to having 'adult'
      ' responsiblities). Still, I try to contribute what I can with simple
      ' patches and bug reports.

  h3 Various Patches to Open-Source Projects on GitHub

  p
    ' You can find me as
    ' <strong class="username">blech75</strong> on both
    ' <a href="https://github.com/blech75">GitHub</a> and
    ' <a href="https://bitbucket.org/blech75">Bitbucket</a>.

  markdown:
    * [docker-aem](https://github.com/eggsunimedia/docker-aem): 
      [refactor and improve](https://github.com/eggsunimedia/docker-aem/compare/master...blech75:shiny) (patch not yet sumitted)
    * [grunt-aglio](https://github.com/arbus/grunt-aglio): 
      [update dependencies to aglio 2.x](https://github.com/arbus/grunt-aglio/pull/22)
    * [grunt-hercule](https://github.com/chesleybrown/grunt-hercule): 
      [update hercule dependency](https://github.com/chesleybrown/grunt-hercule/pull/1)
    * [overcommit](https://github.com/brigade/overcommit): 
      [Fix and update (semi)standard hooks](https://github.com/brigade/overcommit/pull/232) 
      (+ [original bug report](https://github.com/brigade/overcommit/issues/231))
    * [grunt-css-metrics](https://github.com/phamann/grunt-css-metrics): 
      [add selector and element reports](https://github.com/phamann/grunt-css-metrics/compare/master...blech75:selector-metrics) (patch not yet submitted)
    * [middleman](https://github.com/middleman/middleman): 
      [exclude .git folder when init'ing a local template](https://github.com/middleman/middleman/pull/1404)
    * [grunt-html](https://github.com/jzaefferer/grunt-html): 
      [increase child process buffer size](https://github.com/jzaefferer/grunt-html/pull/24)
    * [Pandoc.tmbundle](https://github.com/dsanson/Pandoc.tmbundle): 
      [Added commandline option to fix HTML -> Markdown conversion.](https://github.com/dsanson/Pandoc.tmbundle/pull/2)

  h3 Various Tools & Instructional Gists
  markdown:
    * [Vagrant Status in Your Shell Prompt](https://gist.github.com/blech75/6d91256c78a5d12bbd16)
    * [notify-send adapter for Mac OS X](https://gist.github.com/blech75/fd6c36c43057607507e2)
    * [findgitrepos](https://gist.github.com/blech75/5f9c6e56a670f7e453d3)

  h3 Stack Exchange Network

  div.chat-bubble-wrapper
    i.avatar
    p.chat-bubble
      ' I've always enjoyed helping people; I cut my teeth on listservs and
      ' Usenet while at college. Nowadays, with Stack Overflow being the de
      ' facto reference for developers and other tech-minded folks, I decided
      ' to make a concerted effort to give back to the community after having
      ' benefitted so much from it.

  markdown:
    You can find me as <strong class="username"> wrksprfct</strong> on the
    [Stack Exchange](http://stackexchange.com) network. My favorite haunts are
    [Super User](http://superuser.com/users/327091/wrksprfct),
    [Ask Different](http://apple.stackexchange.com/users/79130/wrksprfct), and
    [Unix & Linux](http://unix.stackexchange.com/users/68744/wrksprfct)


section#personal-projects
  h2 Personal Projects

  h3 http-five-o
  a href="https://www.npmjs.com/package/http-five-o" https://www.npmjs.com/package/http-five-o
  p
    ' Node-based HTTP server that protects and serves. (public
    ' <a href="https://www.npmjs.com">npm</a> package, command-line tool,
    ' documentation)

  h3 RegreCSS
  a href="http://regrecss.io/" http://regrecss.io/
  p CSS regression testing tool. (alpha / POC stage)

  / h3 MisterRoboto
  / a href="http://github.com/blech75/mister-roboto" http://github.com/blech75/mister-roboto
  / p QA dashboard and reporting framework. (conceptual / planning stage)


/ section#bucket-list
/   h2 Technical Bucket <del>List</del> Stack
/
/   p.commentary
/     ' Things I never seem to have the time for, yet I remain interested in.
/
/   markdown:
/     * automated front-end regression testing
/     * d3.js
/     * R / Julia
/     * Raspberry Pi
/     * ???


section#personal-interests
  h2 Personal Interests

  markdown:
    * cooking
    * music
    * audio
    * tinkering
    * typography
    * architecture
    * data visualization
    * cartography
    * operating systems
    * cryptography


section#conversation-starters
  h2 Suggested Geeky Conversation Starters

  div.chat-bubble-wrapper
    i.avatar
    p.chat-bubble
      ' Offer me a coffee/whiskey/beer and say any of these phrases. You have
      ' been warned.

  markdown:
    * &ldquo;How can the web advance if we don't break it?&rdquo;
    * &ldquo;Who in their right mind would have JavaScript disabled?&rdquo;
    * &ldquo;I'll just use static JSON for mocking the API.&rdquo;
    * &ldquo;Front-end development is easier than back-end.&rdquo;
    * &ldquo;What's all the fuss about commit messages?&rdquo;
    * &ldquo;I don't have time to automate it.&rdquo;


section#education
  h2 Education

  div.chat-bubble-wrapper
    i.avatar
    p.chat-bubble
      ' Entering my junior year, I switched my focus from Music to Computer
      ' Science. My advisor told me I was not the first to change course like
      ' that.

  h3 B.S.M.E. in <a href="http://www.hartford.edu/ceta/undergraduate/engineering/AEM/">Acoustical Engineering</a>, 1997
  p University of Hartford, West Hartford, CT


section#references
  h2 References
  p Professional and personal references are available upon request.


/ section#dev-stack
/   h2 Preferred Dev Stack
/   p.commentary I embrace all platforms, but I enjoy my Mac the most.
