h1. Justin Blecher

ul.inline
  li Creative Engineer
  li Principled Developer
  li Champion of Form & Function


section#about-me
  h2 Personal Summary

  p
    ' After years of gaining experience across myriad projects, platforms,
    ' and languages, I'm looking to get back to hacking by cozying up and
    ' focusing my energy on building things people love.
    /
    / | Years of agency work has exposed me to myriad industries, technologies,
    / | platforms, and languages&mdash;all of which have contributed to and
    / | shaped my unique perspective. This experience continues to prove itself
    / | particularly invaluable in today's environment.

  section#mission
    h3 My Mission

    markdown:
      In assembling my résume and thinking critically about my career thus
      far, my <em>personal mission</em> began to crystallize:

      * *Help people* via technology.
      * *Create value* by bridging disparate worlds.
      * *Dive deep* to understand thoroughly.

  section#values
    h3 My Values
    / p.commentary What sets me apart; what I try to demonstrate to teammates.

    markdown:
      In reviewing my approach to the work I've done, some recurring key
      *values* emerged:

      * Technical Rigor
        * (engineering)
      * Aesthetics
        * (form is as important as function)
      * Accountability
        * (tickets FTW)
      * Transparency
        * (show your work)
      * Cogency
        * (watertight pitches)
      * Empathy
        * (help out fellow devs)

      I believe that teams which uphold these values can produce great work. I
      try to impart them on everyone I work with.

  section#professional-goals
    h3 My Professional Goals

    markdown:
      My *mission* and *values* inform and shape the *goals* which I strive to
      achieve professionally.

      * Improve product quality.
      * Increase team efficiency.
      * Reduce technical debt.
      * Share knowledge.

  p
    ' I hope that gives you a good sense of what I'm all about!


section#highlights
  h2 Highlights (TL;DR)

  markdown:
    * 20+ years broad and deep experience on the interwebs
      * (slinging bits before http was popular)
    * Diverse yet connected interests
      * network protocols up through user experience
      * everything is relevant!
    * Sound technical strategy
      * ()
    * Resourceful technical lead and patient mentor
      * (code review)
    * Translator of requirements and limitations
      * ability to articulate and negotiate each side of the equation
    * Creative problem solver with a pragmatic bent
      * (inventor/codifier of processes)
      * (work with what we've got)
    * Critical thinker and methodical troubleshooter
      * (one cannot build or fix what they don't understand)
    * Stalwart steward of design and user experience
      * (focus on front-end)
    * Easily and eagerly adaptable (new systems, platforms, frameworks, languages, methodologies, etc.)
      * (new day, new code)
      * OO, functional, procedural
    * Master sleeve-roller-upper
      * (gotta get dirty)
      * (gets shit done)


section#technical-specialites
  h2 Technical Specialties

  p.commentary
    ' No acronyms or specifics here; frameworks and tools have a short half-life.

  markdown:
    * All things front-end: markup, style, and scripting
      * been there, done that. nothing much surprises me anymore. just variations on a theme
      * ex: building sites
    * Troubleshooting, debugging, and triaging
      * fixing things is super satisfying
      * filling in details of vague bug reports to gain insight is satisfying
      * ex: choice db import, understood tix
    * Research and documentation for both clients and developers
      * i love to read and learn
      * producing clear and unambiguous documentation is satisfying
      * ex:
    * Deployment, task automation, and build tooling
      * shell scripting, testing, etc.
      * unix is my copilot
      * increasing productivity (using computers for repetitive tasks) is satisfying
    * Performance analysis and tuning
      * similar to troubleshooting; very satisfying
      * ex: understood carousels
    * Accessibility auditing & QA
      * ...
      * ex: understood
    * Systems architecture
      * ...
    * Agile estimation
      * vertical slices
      * progressive enhancement


section#experience
  h2 Experience

  p.chat-bubble
    i.avatar
    ' I've dedicated a sizable portion of my professional career to Digital
    ' Pulp, where I've evolved from developer to mentor to leader. Typical of
    ' a nimble agency, I wore many hats, improvised, and filled gaps as
    ' necessary.

  div.jobs
    div.jobs-nav
      / nav inserted via JS

    div.job
      h3
        span.title Director of Creative Engineering
        '  at
        span.company
          a href="http://www.digitalpulp.com/" Digital Pulp
        ' ,
        span.period 2008 - Present

      p.commentary
        ' née Web Development Manager

      markdown:
        * Managed 8-12 person technology department (hiring, mentoring, review,
          etc.)
        * Led numerous technology projects (often overlapping) and juggled
          shifting cross-client priorities
        * Provided technical strategy and guidance to producers and partners
        * Defined processes to alleviate technology/production/communication
          issues
        * Contributed to and participated in new business pitches
        * Adapted internal processes to accommodate responsive design (RWD) and
          agile development methodologies
        * Estimated effort, complexity, and risk of projects
        * Decomposed complex tasks into discrete tasks
        * Strategized technical implementation
        * Supported producers and developers with technical writing and
          documentation
        * Planned and executed major multi-team site launches
        * Managed and delivered code releases
        * Acted as subject matter expert for accessibility, analytics, etc.
        * Ensured quality of deliverables (performed code review, managed QA
          team, etc.)
        * Produced developer documentation for style guides, standards, and
          anti-patterns
        * Developed initial prototypes and proof-of-concept code
        * Built and managed technology & development infrastructure (blend of
          custom & SaaS/PaaS)
        * Spearheaded move to modern developer tools/workflow (Git, JIRA,
          Heroku, Node, Grunt, Middleman, etc.)
        * Provided support for legacy projects/systems
        * Gardened wikis and evangelized their use

      p.primary-tech
        ' Primary Technologies: JavaScript (Node, Angular, in-browser), Bash,
        ' Git, CSS/Sass, Ruby, Vagrant, Docker, etc.


    div.job
      h3
        span.title Lead Front-end Developer
        '  at
        span.company
          a href="http://www.digitalpulp.com/" Digital Pulp
        ' ,
        span.period 2006 - 2008

      markdown:
        * Led and managed team of front-end developers; Mentored junior team
          members
        * Developed a set of internal code libraries for reuse
        * Contributed to development and extension of a custom CMS based on
          [Radiant](http://radiantcms.org) (a Rails app); Built and deployed
          numerous projects based on Radiant.
        * Built front-ends for a variety of projects/sites
        * Consulted with designers and producers to refine the UX
        * etc.

      p.primary-tech
        ' Primary Technologies: Ruby (Rails 1.x, 2.x), JavaScript
        ' (<a href="http://prototypejs.org">Prototype.js</a>)


    div.job
      h3
        span.title Developer
        '  at
        span.company
          a href="http://www.razorfish.com/" Avenue A / Razorfish
        ' ,
        span.period March 2006 - June 2006

      p.commentary
        ' This job was onsite at <a href="http://www.condenast.com">Condé
        ' Nast</a>, Razorfish's client.

      markdown:
        * Spearheaded effort to modernize legacy Condé Nast's MagNet JS (DRY,
          reduce global namespace pollution, dependency management, etc.)
        * Contributed to various integration projects (contests, games, etc.)

      p.primary-tech
        ' Primary Technologies: JavaScript,
        ' <a href="http://www-03.ibm.com/software/products/en/clearcase">Rational ClearCase</a>,
        ' <a href="http://www.hpengage.com/products/teamsite">Interwoven TeamSite</a>


    div.job
      h3
        span.title Senior UI Developer
        '  at
        span.company
          a href="http://advertising.gawker.com/" Gawker Media
        ' ,
        span.period July 2005 - March 2006

      markdown:
        * Prototyped and built initial iteration of
          [Gawker Stalker](http://gawker.com/160338/introducing-gawker-stalker-maps)
          via the Google Maps API
        * Prototyped and built the UI and front-end for Kinja, a 'weblog search
          engine' (Note: The name "Kinja" has since been re-used for [another,
          unrelated project](http://help.gawker.com/customer/en/portal/articles/2137882-what-is-kinja-).)
        * Managed external front-end developers

      p.primary-tech
        ' Primary technologies used: JavaScript,
        ' <a href="https://velocity.apache.org">Velocity</a> (via
        ' <a href="https://struts.apache.org">Struts</a>),
        ' <a href="https://movabletype.com">Movable Type</a>, PHP, Perl


    div.job
      h3
        span.title Page Developer
        '  at
        span.company
          a href="http://www.mtv.com/" MTV (Viacom)
        ' ,
        span.period November 2004 - July 2005

      markdown:
        * Worked as part of a large team building
          [Urge](https://en.wikipedia.org/wiki/URGE_(digital_music_service)),
          the MTV Digital Music Service (DMS)
        * Completely re-architected the JavaScript framework that drives the
          front-end of the DMS
        * Conceived and implemented a JS-based reporting framework for
          non-page-load events, called SPERF (Synthetic Page and Event
          Reporting Framework); callable from JS or Flash
        * Worked on [MTV Overdrive](https://en.wikipedia.org/wiki/MTV#Internet)
          implementing advertising logic and plugin interaction in JS
        * Consulted to other internal teams advocating best-practices for
          front-end projects

      p.primary-tech
        ' Primary technologies used: JavaScript, WindowsMedia Plugin API


    div.job
      h3
        span.title Design Engineer
        '  at
        span.company
          a href="http://www.digitalpulp.com/" Digital Pulp
        ' ,
        span.period September 1997 - November 2004

      markdown:
        * Coded the front-ends of 80+ web sites produced by Digital Pulp;
          Developed & managed coding guidelines for the HTML production
          department
        * Spearheaded the campaign to educate clients on the importance of
          accessibility and standards in front-end code
        * Detailed front-end interface feature sets and functionality for sites
        * Worked with 3rd party and internal developers to integrate and then
          QA front-end code for large-scale e-commerce and content sites;
          Co-developed a CMS product with developers

      p.primary-tech
        ' Primary technologies used: HTML/CSS/JS, PHP, Perl,
        ' Python/<a href="http://www.zope.org">Zope</a>, various custom CMS
        ' implementations.


section#community-contributions
  h2 Community Contributions

  p.chat-bubble
    i.avatar
    ' I truly enjoy contributing to the developer community. It's rewarding to
    ' build and refine tools that are used by my peers. I don't get to contribute
    ' as much as I'd like nowadays, due to my family and other adult
    ' responsiblities. Still, I try to contribute what I can with simple patches
    ' and bug reports. You can find me as <strong class="username">blech75</strong>
    ' on both <a href="https://github.com/blech75">GitHub</a> and
    ' <a href-"https://bitbucket.org/blech75">Bitbucket</a>.


  h3 Various Patches to Open-Source Projects on GitHub
  p.commentary Nothing terribly ground-breaking here. Just fixing bugs I notice while using tools in my stack.
  markdown:
    * [docker-aem](https://github.com/eggsunimedia/docker-aem): 
      [refactor and improve](https://github.com/eggsunimedia/docker-aem/compare/master...blech75:shiny) (patch not yet sumitted)
    * [grunt-aglio](https://github.com/arbus/grunt-aglio): 
      [update dependencies to aglio 2.x](https://github.com/arbus/grunt-aglio/pull/22)
    * [grunt-hercule](https://github.com/chesleybrown/grunt-hercule): 
      [update hercule dependency](https://github.com/chesleybrown/grunt-hercule/pull/1)
    * [overcommit](https://github.com/brigade/overcommit): 
      [Fix and update (semi)standard hooks](https://github.com/brigade/overcommit/pull/232) 
      (+ [original bug report](https://github.com/brigade/overcommit/issues/231))
    * [grunt-css-metrics](https://github.com/phamann/grunt-css-metrics): 
      [add selector and element reports](https://github.com/phamann/grunt-css-metrics/compare/master...blech75:selector-metrics) (patch not yet submitted)
    * [middleman](https://github.com/middleman/middleman): 
      [exclude .git folder when init'ing a local template](https://github.com/middleman/middleman/pull/1404)
    * [grunt-html](https://github.com/jzaefferer/grunt-html): 
      [increase child process buffer size](https://github.com/jzaefferer/grunt-html/pull/24)
    * [Pandoc.tmbundle](https://github.com/dsanson/Pandoc.tmbundle): 
      [Added commandline option to fix HTML -> Markdown conversion.](https://github.com/dsanson/Pandoc.tmbundle/pull/2)

  h3 Various Tools & Instructional Gists
  markdown:
    * [Vagrant Status in Your Shell Prompt](https://gist.github.com/blech75/6d91256c78a5d12bbd16)
    * [notify-send adapter for Mac OS X](https://gist.github.com/blech75/fd6c36c43057607507e2)
    * [findgitrepos](https://gist.github.com/blech75/5f9c6e56a670f7e453d3)

  h3 Stack Exchange Network
  p.commentary Whenever I have some time to kill, I like to help people on Stack Exchange sites.

  markdown:
    I'm <strong class="username"> wrksprfct</strong> on the Stack Exchange
    network, and I've contributed to and asked questions on these sites:

    * [Super User](http://superuser.com/users/327091/wrksprfct)
    * [Ask Different](http://apple.stackexchange.com/users/79130/wrksprfct)
    * [Unix & Linux](http://unix.stackexchange.com/users/68744/wrksprfct)


section#personal-projects
  h2 Personal Projects

  h3 http-five-o
  a href="https://www.npmjs.com/package/http-five-o" https://www.npmjs.com/package/http-five-o
  p Node-based HTTP server that protects and serves. (pulbic npm package, command-line tool, documentation)

  h3 RegreCSS
  a href="http://regrecss.io/" http://regrecss.io/
  p CSS regression testing tool. (alpha / POC stage)

  h3 MisterRoboto
  a href="http://github.com/blech75/mister-roboto" http://github.com/blech75/mister-roboto
  p QA dashboard and reporting framework. (conceptual / planning stage)


section#bucket-list
  h2 Technical Bucket <del>List</del> Stack

  p.commentary Things I never seem to have the time for, yet I remain interested in.

  markdown:
    * Selenium
    * d3.js
    * R / Julia
    * ???


section#education
  h2 Education

  p
    strong BSME in Acoustical Engineering
    | , University of Hartford, West Hartford, CT (1993-1997)

  p.commentary
    ' Entering my junior year, I switched my focus from Music to Computer
    ' Science. My advisor told me I was not the first to change course like
    ' that.


section#personal-interests
  h2 Personal Interests

  markdown:
    * cooking
    * music
    * typography
    * open source software
    * architecture
    * cartography
    * data visualization


section#conversation-starters
  h2 Suggested Geeky Conversation Starters

  p.commentary
    ' Offer me a coffee/whiskey/beer and say any of these phrases. You have
    ' been warned.

  markdown:
    * "How can the web advance if we don't break it?"
    * "Who in their right mind would have JavaScript disabled?"
    * "I'll just use static JSON for mocking the API."
    * "Front-end development is easier than back-end."
    * "What's all the fuss about commit messages?"
    * "I don't have time to set up tooling."


section#references
  h2 References
  p Professional and personal references are available upon request.


section#dev-stack
  h2 Preferred Dev Stack
  p.commentary I embrace all platforms, but I enjoy my Mac the most.
