;;;
"title" : "Justin's CV",
"css" : "resume",
"js" : "svg.js/dist/svg"
;;;

article.primary
  div.wrapper
    =partial 'partials/resume.slim'


- content_for :footer_js do
  javascript:
    jQuery(function($){


    }(jQuery));
