;;;
"title" : "Résume",
"description": "Justin Blecher's Résume",
"css" : "resume",
"js" : []
;;;

article.primary
  div.wrapper
    =partial 'partials/resume.slim'


- content_for :footer_js do
  / =javascript_include_tag 'resume.js'
  javascript:
    jQuery(function($){

      // simple little chat bubble hide/show
      $('.chat-bubble-wrapper .avatar').on('click', function(){
        $(this).parent().toggleClass('active');
      });

    }(jQuery));
